* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .box {
  width: 80%;
  height: 450px;
  padding-left: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container .box ul {
  position: absolute;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

header .container .box ul .dropdown:hover .dropdown-menu {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

header .container .box ul .nav-item {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 550;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 10;
}

header .container .box ul .nav-item .fa-chevron-down {
  font-weight: 700;
  border: 0px;
  font-size: 12px;
  margin-left: 2px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

header .container .box ul .nav-item:hover {
  color: #f57479;
}

header .container .box ul .dropdown-menu {
  position: absolute;
  background-color: #fff;
  padding: 15px;
  width: 250px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  display: block;
  font-size: 15px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

header .container .box ul .dropdown-menu .dropdown-item {
  padding: 9px 23px;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  display: block;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

header .container .box ul .dropdown-menu .dropdown-item:hover {
  background-color: #1f1f40;
  color: #fff;
}

header .container .logo a .logo-img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.scrolling-active {
  background-color: #1f1f40;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-btn {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 25px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

/* ANIMATION */
.menu-btn.open {
  border-radius: 10px;
  border: solid 2px white;
}

.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
  background-color: red;
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
  background-color: red;
}

@media screen and (max-width: 1199.98px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    top: 70px;
    padding: 0px !important;
  }
  .box ul {
    left: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box.repo {
    max-height: 230px;
  }
  .fixed-top {
    background-color: #1f1f40;
  }
}

@media screen and (max-width: 991.98px) {
  .box ul {
    left: 50%;
  }
}

@media screen and (max-width: 767.98px) {
  .box ul {
    left: 40%;
  }
}

@media screen and (max-width: 575.98px) {
  .box ul {
    left: 55%;
  }
}
/*# sourceMappingURL=header.css.map */